pre {
	outline: 1px solid #ccc; 
	padding: 5px; 
	margin: 5px; 
}
.string { 
	color: green; 
}
.number { 
	color: darkorange; 
}
.boolean { 
	color: blue; 
}
.null { 
	color: magenta; 
}
.key { 
	color: red; 
}

section {
	display: flex !important;
	.abbrev {
		margin: 5px;
		flex-wrap: wrap-reverse;
	}
}

.mesh {
	fill: none;
	stroke: #000;
	stroke-width: .25px;
}