.titleAbrev {	
    font-size: 75PX;
    margin-top: -33px;
    margin-bottom: -11px;
}

.all-icons {
	div { 
		span {
		    padding: 11px 19px 11px 19px;
		    border-radius: 50%;
		    background: #488aff;
		    color: white;
		    font-size: 27px;
		    font-weight: bold;
			margin-left: 18%;	
			position: absolute;
			margin-top: -43%;
		}
	}
}